main.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.container section.content {
    width: 90%;
    height: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    text-align: center;
}

main.container section.content::before {
    content: "";
    width: 38.8vw;
    height: 100%;
    position: absolute;
    border: 1px solid #0D1321;
    background-color: #0D1321;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    left: 0
}

h1.tittle {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
}

h1.tittle-welcome {
    color: #fff;
}

h1.tittle-create-account {
    color: #0D1321;
}

p.description {
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    line-height: 25px;
}

.first-description {
    color: #fff;
}

p.second-description {
    color: #6b705c;
}

section.first-content {
    display: flex;
    
}

section.first-content .second-column {
    z-index: 11;
}

div.first-column {
    text-align: center;
    width: 45%;
    z-index: 10;
}

div.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.social-media {
    margin: 1rem 0;
}

ul.list-social-media {
    display: flex;
    list-style-type: none;
}

a.link-social-media:not(:first-child) {
    margin-left: 15px;
}

a.link-social-media:hover .icon-social-media {
    background-color: #fff;
    border: 1px solid #0D1321;
    color: #0D1321;
}


li.icon-social-media {
    background-color: #0D1321;
    transition: background-color 0.5s;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #F0EBD8;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.form input:-webkit-autofill {
    -web-kit-boxshadow: 0px 0px 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}

.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 15px;
}

.icon-input {
    color: #6b705c;
    padding: 0px 10px;
}

/*SECOND-CONTENT*/
section.second-content {
    position: absolute;
    display: flex;
    text-align: center;
}

section.second-content .first-column {
    order: 2;
    z-index: -1;
}

section.second-content .second-column {
    order: 1;
    z-index: -1;
}

section.second-content h1.tittle-hello-friend {
    color: #fff;
}

section.second-content h1.tittle-sign-in-to {
    color: #0D1321;
}

section.second-content a.password {
    font-size: 14px;
    color: #0D1321;
    margin: 15px 0;
    text-align: center;
}

section.second-content a.password::first-letter {
    text-transform: capitalize;
}

/* form.form {

} */
